@import '../sass/_normalize.scss';
@import '../fonts/style.css';
html {
	font-size: 18px;
	overflow-x: hidden !important;
	@media (max-width: 767px) {
		font-size: 16px;
	}
	@media (max-width: 576px) {
		font-size: 14px;
	}
}
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.444em;
	color: #121212;
	background-color: #fff;
	@media (max-height: 899px) {
		font-size: 16px;
	}
	@media (max-width: 1199px) {
		font-size: 16px;
	}
	@media (max-width: 991px) {
		font-size: 15px;
	}
	@media (max-width: 767px) {
		font-size: 12px;
	}
	@media (max-width: 576px) {
		font-size: 10px;
	}
}
a, button {
	cursor: pointer;
}
::-webkit-input-placeholder {color:#d0d0d0;}
::-moz-placeholder          {color:#d0d0d0;}/* Firefox 19+ */
:-moz-placeholder           {color:#d0d0d0;}/* Firefox 18- */
:-ms-input-placeholder      {color:#d0d0d0;}
//==== extended classes ===
	.before {
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.after {
		position: relative;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.iconmoon {
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
	}
//=====

//==== modificaton styles ====
	.light-text {
		color: #fff;
	}
	.bright-text {
		color: #f92b1b;
	}
	.align-center {
		text-align: center;
	}
	.text-uppercase {
		text-transform: uppercase;
	}
	.text-bold {
		font-weight: bold;
	}
	h1 {
		width: 100%;
		font-size: 3em;
		margin: 0;
		line-height: 1.2em;
		text-align: center;
		@media (max-width: 991px) {
		 	font-size: 2.7em;
		 }
		 @media (max-width: 767px) {
		 	font-size: 2.5em;
		 }
	}
	h2 {
		width: 100%;
		font-size: 2.333em;
	    line-height: 1.2em;
	    margin: 0;
	    @media (max-width: 991px) {
			font-size: 2em;
		}
	}
	h3 {
		width: 100%;
		font-size: 2em;
		margin: 0;
		@media (max-width: 576px) {
			font-size: 1.6em;
		}
	}
	h4 {
		width: 100%;
		font-size: 1.333em;
		margin: 0;
	}
	.column-2 {
		column-count: 2;
	}
	p {
		line-height: 1.357em;
		font-size: 1rem;
	}
	li {
		font-size: 1rem;
	}
	.list-style {
		padding: 0;
		list-style: none;
		li {
			padding-left: 0.5em;
			position: relative;
			&:before {
				content: '•';
				margin-right: 0.25em;
				position: absolute;
				left: 0;
			}
		}
	}
	.primary-text {
		font-size: 1.556em;
	}
	.secendary-title {
		font-family: 'Merriweather', serif;
		font-size: 1.555em;
	}
	.no-padding {
		padding: 0;
	}
	.text-nowrap {
		white-space: nowrap;
	}
//====

//==== header ====
	.header {
		width: 100%;
		position: absolute;
    	z-index: 5;
		padding: 1.444em 0;
		top: 0;
		@media (max-width: 576px) {
			padding: 0 1em;
		}
		.container {
			margin-top: 0;
		}
		// &.fixed {
		// 	height: 0;
		// 	padding: 0;
		// 	overflow: hidden;
			// .logo {
			// 	opacity: 0;
			// 	width: 0;
			// 	max-height: 0;
			// 	transition: opacity 0.5s, width 0.5s 0.3s, max-height 0.5s 0.3s;
			// }
			// .top-contact {
			// 	opacity: 0;
			// 	width: 0;
			// 	height: 0;
			// 	transition: opacity 0.5s, width 0.5s 0.5s, height 0.5s 0.5s;
			// }
			// .row {
			// 	//display: block;
			// }
			// .menu {
			// 	margin: 0;
			// 	margin-top: -0.8em;
			// 	transition: all 0.5s;
			// 	&__item {
			// 		background: rgba(255, 255, 255, 0.6);
			// 	    box-shadow: 0 0 8px 7px rgba(255, 255, 255, 0.5);
   //  				border: 1px solid rgba(255, 255, 255, 0.02);
   //  				border-radius: 0.2em;
			// 	}
			// }
		// }
	}
	.logo {
		width: 22.778em;
		//transition: opacity 0.5s;
		max-height: 100%;
		@media (max-height: 999px) {
			width: 15em;
		}
		@media (max-width: 991px) {
			width: 12em;
		}
		@media (max-width: 576px) {
			width: 11em;
		}
		@media (max-width: 440px) {
			    z-index: 2;
			    position: absolute;
			    top: 2.8em;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.menu {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0;
		&__item {
			font-weight: bold;
			font-size: 1.222em;
			text-transform: uppercase;
			margin: 0 0.5em;
			position: relative;
			border: 1px solid transparent;
			&:hover,
			&:focus,
			&.active {
				&:before {
					content: "";
					width: 108%;
					margin-left: -4%;
					height: 0.1em;
					position: absolute;
					bottom: 0em;
					background: linear-gradient(67deg, #ff1e0c, #ff9600);

				}
			}
			@media (max-width: 767px) {
				font-size: 1.1em;
				margin: 0 0.25em;
			}
		}
	}
	.top-contact {
		//transition: opacity 0.5s;
		width: 100%;
		height: 100%;
		font-size: 2em;
	    color: #f92b1b;
	    font-weight: bold;
	    text-align: right;
	    @media (max-height: 999px) {
			font-size: 1.8em;
		}
	}
//=====

//====== 
	.bg-section {
		width: 100%;
	    height: 112%;
	    position: absolute;
	    top: -6%;
	    background-size: cover;
	    background-position: center;
    	background-repeat: no-repeat;
	}
	.title-section {
		.bg-section {
			background-image: url(../img/bg-title-section.jpg);
			height: 100%;
			top: 0;
		}		
	} 
	.title-section .container {
	    margin-top: 8em;
	}
	.section {
		background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	}
	.main {
		&-title {
			font-size: 6.667em;
			line-height: 1.3em;
	    	margin: -0.3em 0 -0.43em;
			color: #f92b1b;
			text-shadow: -3px -3px 3px #fff, 3px -3px 3px #fff, -3px 3px 3px #fff, 3px 3px 3px #fff;
			z-index: 9;
			text-align: left;
			@media (max-height: 999px) {
				font-size: 5.5em;
			}
			@media (max-height: 767px) {
				font-size: 4.5em;
			}
		}
		&-description {
			font-weight: bold;
			font-size: 2.222em;
			text-align: center;
			z-index: 1;
			padding: 1em;
	    	margin-top: 0.7em;
	    	margin-bottom: -0.3em;
	    	@extend .before;
			&:before {
				background-image: url(../img/desc-bg.png);
				z-index: -1;
			    background-size: cover;
			}
			&:after {
				content: "";
				width: 45%;
			    height: 40%;
			    position: absolute;
			    background-image: url(../img/arrow-pomo-sticker.png);
			    background-repeat: no-repeat;
			    z-index: -2;
			    bottom: -10%;
			    left: 80%;
			    background-size: contain;
			    @media (max-width: 991px) {
			    	    width: 35%;
					    bottom: -22%;
					    left: 73%;
			    }
			}
			@media (max-width: 991px) {
				font-size: 2em;
			} 
			@media (max-width: 767px) {
				font-size: 1.5em;
				padding: 0.5em;
				top: 0.5em;
			} 
		}
	}
	.promo-sticker {
		width: 9.5rem;
	    padding: 1em;
	    margin-left: 0;
	    color: #fff;
	    z-index: 3;
	    margin-top: -1em;
	    @extend .before;
	    &:before {
	    	background-image: url(../img/bg-promo-sticker.png);
	    	z-index: -1;
	    	background-size: cover;
	    }
	    @media (max-width: 991px) {
	    	margin-top: -1em;
		    margin-bottom: 2em;
		    margin-left: auto;
	    }
	    @media (max-width: 576px) {
	    	margin-top: -2em;
		    margin-right: -2em;
		    width: 8.5rem;
		    padding: 0.5em;
	    }
	    p {
	    	margin: 0.3em 0;
		    font-size: 0.889rem;
		    line-height: 1.2em;
		        width: 9em;
	    }
	}
	.form-block {
		padding: 1.944em;
		background-color: #eef6fb;
		margin-left: 1em;
		@media (max-width: 767px) {
			padding: 1.2em;
		}
		@media (max-width: 576px) {
			margin: 2em auto;
    		width: 32em;
		}
		p {
			font-size: 1.38em;
			line-height: 1.5em;
		}
		&__title {
			text-transform: uppercase;
			font-weight: bold;
			display: block;
		}
	}
	.input-style {
		width: 100%;
		height: 3.333em;
		border: 1px solid #c5c5c5;
		border-radius: 0.2em;
		padding: 0 1em;
		margin: 0.4em 0;
		font-size: 1.333em;
	}
	.bright-btn {
		font-size: 1.111em;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		width: 100%;
		padding: 1.333em 0;
		background: linear-gradient(67deg, #ff1e0c, #ff9600);
		border-radius: 2em;
		box-shadow: 0 2px 10px #ff6000;
		margin: 0.4em 0 0.8em;
		color: #fff;
		transform: scale(1, 1);
		transition: all 0.3s;
		&:hover,
		&:focus {
			outline: none;
			transform: scale(1.15, 1.2);
			transition: all 0.3s;
		}
		&:active {
			transform: scale(1, 1);
			transition: all 0.3s;
		}
	}
	.rimary-btn {
		@extend .bright-btn;
		background: linear-gradient(67deg, #0091e5, #00b7e5);
		box-shadow: 0 2px 10px #0091e5;		
		max-width: 24.444em;
		margin: 0 auto;
	}
	.video {
		&-block {
			display: block;
			position: relative;
			width: 80%;
			&:before {
				@extend .iconmoon;
				content: '\f04b';
				color: #fff;
				display: block;
				width: 2.4em;
			    height: 2.4em;
			    background-color: rgba(0, 0, 0, 0.57);
			    border-radius: 50%;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    margin-top: -1.2em;
			    margin-left: -1.2em;
			    font-size: 3em;
			    padding-left: 0.18em;
			    text-align: center;
			    line-height: 2.4em;
			}
			@media (max-width: 767px) {
				width: 97%;
			} 
			img {
				width: 100%;
    			height: auto;
			}
		}
		&-description {
			font-weight: bold;
			font-size: 1.333em;
			z-index: 2;
		    padding: 1em 1.3em;
		    position: absolute;
		    top: -2em;
		    right: -1em;
			@extend .before;
			&:before {
				background-image: url(../img/bg-video-description.png);
				background-repeat: no-repeat;
			    z-index: -1;
			    background-size: cover;

			}
			span {
				display: block;
			}
			@media (max-width: 991px) {
				font-size: 1em;
			}
		}
	}
	.title-section .video-block {
		margin-top: 4.833em;
		@media (max-height: 999px) {
			margin-top: 3em;
		}
	}
	#infoSecondary {
		min-height: 45em;
		@media (max-width: 767px) {
			min-height: 30em;
			margin-bottom: 3em;
		}
		@media (max-width: 576px) {
			padding: 0 1rem;
		}
	}
	.info-secondary {
		&__text {
			color: #787878;
			font-size: 1.556rem;
			line-height: 2.111rem;
			@media (max-width: 991px) {
				font-size: 1.3rem;
    			line-height: 1.4em;
			}
			@media (max-width: 767px) {
				font-size: 1.1rem;
			}
		}
		&__img {
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
	.about-tour {
		.bg-section {
			background-image: url(../img/bg-about-tour.png);
			z-index: 2;
			@media (max-width: 767px) {
				background-position: 60%;
			}
		}
		.container * {
			z-index: 3;
		}
	}
	.fp-responsive .about-tour {
		height: auto!important;
    	padding: 5em 0;
    	.fp-tableCell {
			height: auto!important;
    	}
	}
	.price {
		@media (max-width: 767px) {
			margin-bottom: 3em;
		}
		.bg-section {
		    background-image: url(../img/bg-price.png);
		    top: -12%;
		}
		&-text {
			margin: 2.5em 1em 2.5em 0;
			color: #424242;
			font-size: 1.556em;
			@media (max-width: 767px) {
				margin: 1.5em 0em 1em 0;
			}
		}
		.container {
			@media (max-width: 767px) {
				margin-top: 5em;
			}
		}
	}
	.light-border-block {
		border: 0.2rem solid rgba(0, 0, 0, 0.13);
		border-radius: 0.45em;
		padding: 2rem;
		position: relative;
		@media (max-width: 991px) {
			padding: 1rem;
		}
		&__title {
			position: absolute;
		    width: max-content;
		    padding: 0 0.5em;
		    background: linear-gradient(60deg,#f9fbfd,#f1f5f9);
		    top: -0.6em;
		}
		ul {
			margin: 0;
		}
	}
	.trainers {
		@media (max-width: 767px) {
			margin-bottom: 3em;
		}
		@media (max-width: 425px) {
			.col-6 {
				flex: 0 0 100%;
    			max-width: 100%;
				&:first-child {
					background-color: #3a9fd8;
				}
				&:last-child {
					background-color: #d43925;
					margin-top: 4em;
				}
			}
		}
		&__block {
			background-image: url(../img/bg-trainers.png);
			background-size: cover;
			background-position-x: center;
			padding-bottom: 10%;
			@media (max-height: 999px) {
				padding-bottom: 9%;
			}
			@media (max-width: 991px) {
				padding-bottom: 10%;
			}
			@media (max-width: 767px) {
				margin-top: 4em;
				background-position-x: 49%;
			}
			@media (max-width: 425px) {
				background-image: none;
			}
		}
		&__photo {
			width: 12em;
			height: 12em;
			border: 0.05rem solid #fff;
			border-radius: 50%;
			background-size: cover;
			margin-left: 15%;
			margin-left: calc(15% + 1rem);
			margin-top: -3em;
			margin-bottom: 3%;
			@media (max-height: 999px) {
				width: 9em;
				height: 9em;
			}
			@media (max-width: 425px) {
				margin: -3em auto 3%;
			}
			&-right {
				margin-right: 15%;
				margin-right: calc(15% + 1rem);
				float: right;
				@media (max-width: 425px) {
					margin: -3em auto 3%;
					float: none;
				}
			}
		}
		&__text {
			margin-left: 1rem;
			font-family: 'Merriweather', serif;
			font-style: italic;
			font-size: 0.889em;
		}
		&__info {
			margin: 0 15%;
			@media (max-width: 991px) {
				margin: 0 8%;
			}
			@media (max-width: 767px) {
				margin: 0;
			}
		}
		&__after-text {
			 margin-top: -2em;
		    .primary-text {
				margin: 0;
				@media (max-height: 999px) {
					font-size: 1.4em;
    				line-height: 1.2em;
				}
				@media (max-width: 1199px) {
					font-size: 1rem;
				}
		    }
		}
		h2 {
			margin-left: 1rem;
		}
		li {
			padding-left: 1rem;
			&:before {
				font-size: 1.5rem;
			}
		}
	}
	ol.list-days {
		list-style-type: none;
		counter-reset: daysCounter;
		padding: 0;
		li {
			padding-left: 20%;
			position: relative;
			margin-bottom: 1.8em;
			&:before {
				counter-increment: daysCounter;
				content: counter(daysCounter) ' день:';
				font-family: 'Merriweather', serif;
				font-weight: bold;
				font-style: italic;
				font-size: 1.5em;
				position: absolute;
				left: 0;
				@media (max-width: 425px) {
					font-size: 1em;
				}
			}
			&:nth-child(3){
				opacity: 0.85;
			}
			&:nth-child(4){
				opacity: 0.65;
			}
		}
		
	}
	.program {
		background-image: url(../img/bg-program.png);
		@media (max-width: 767px) {
			padding-bottom: 3em;
			margin-bottom: 4em;
		}
		&__text {
			width: 100%;
    		margin-top: 1em;
    		margin-bottom: 3em;
    		@media (max-width: 991px) {
				margin-bottom: 1.5em;
			}
		}
	}
	#plan {
		min-height: 43em;
		@media (max-width: 991px) {
			min-height: 39em;
			padding-bottom: 4em;
		}
	}
	.plan {
		margin-top: 3em;
		background-image: url(../img/bg-plan.png);
		padding: 7em 0;
	    background-position: center;
	    background-repeat: no-repeat;
	    @media (max-width: 991px) {
			padding: 5em 0;
		}
		@media (max-width: 576px) {
			background-position: 50.5%;
		}
	}
	#report {
		min-height: 45em;
		@media (max-width: 991px) {
			min-height: 40em;
		}
		// @media (max-width: 767px) {
		// 	min-height: 32em;
		// }
	}
	.post {
		&-slider {
			width: 100%;
			.slick-list {
				overflow: unset;
			}
		}
		&-slide {
			height: 18.5rem;
			margin: 0 1rem;
			overflow: hidden;
			display: flex;
		    justify-content: center;
		    align-items: center;
		    @media (max-width: 1199px) {
		    	height: 15.5rem;
		    }
		    @media (max-width: 991px) {
		    	height: 11rem;
		    }
		    @media (max-width: 767px) {
		    	height: 9.4rem;;
		    }
			a {
				width: 100%;
			    height: 100%;
			    display: block;
			    background-size: cover;
			    background-position: center;
			    cursor: pointer;
			}
		}
	}
	.views {
		background-image: url(../img/bg-views.png);
		@media (max-width: 991px) {
			padding-top: 6em;
		}
		&__slider {
			width: 100%;
		}
		&__slide {
			margin: 0 1em;
		}
		&__photo {
			width: 3.889rem;
			height: 3.889rem;
			border: 0.222em solid transparent;
			border-radius: 50%;
			box-shadow: 0 0 0 0.222em #c3d9e5;
			margin: 0.722em auto;
			display: flex;
		    justify-content: center;
		    align-items: center;
		    overflow: hidden;
		    img {
		    	width: auto;
    			height: 100%;
		    }
		}
		&__name {
			text-align: center;
			font-family: 'Merriweather', serif;
			font-weight: bold;
			font-style: italic;
			margin-bottom: 1.667em;
		}
		&__text {
			padding: 1.555em;
			background-color: #fff;
			border-radius: 0.722em;
			position: relative;
			font-size: 1rem;
			&:before {
				content: "";
				border-bottom: 0.833em solid #fff;
			    border-right: 0.833em solid transparent;
			    position: absolute;
			    top: -0.833em;
			    left: 50%;
			    margin-left: -0.415em;
			}
			@media (max-width: 991px) {
				padding: 1em;
			}
		}
	}
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.slider {
		&__header {
			display: flex;
			justify-content: center;
			width: 100%;
			h1 {
				width: auto;
				margin: 0 2.778rem;
				@media (max-width: 991px) {
					margin: 0 0.5em;
				}
			}
		}
		&__arrow {
			background-image: url(../img/slider-arrow.png);
			background-image: url(../img/slider-arrow.png);
		    width: 8em;
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 80%;
		    transition: all 0.3s;
		    &:hover,
		    &:focus {
		    	outline: none;
			    background-size: 100%;
			    transition: all 0.3s;
		    }
		}
		&__prev {
			transform: rotate(180deg);
		}
	}
	.slick {
		&-slider {
			margin-top: 2.2em;
		}
		&-dots {
			font-size: 3rem;
		    display: flex;
		    justify-content: center;
		    li {
		    	margin-right: 1.5rem;
		    	color: #c3d9e5;
		    	&.slick-active {
		    		color: #0091e5;
		    	} 
		    	button {
			        display: none;
			    }
		    }
		    
		   
		}
	}
	.end {
		background-image: url(../img/bg-end.jpg);
		h1 {
			text-align: left;
		}
		&__text {
			width: 26em;
			margin-top: 0.75em;
			@media (max-width: 991px) {
				margin-bottom: 0.75em;
			}
		}
		.promo-sticker {
			margin: 0 40%;
			&:after {
				content: "";
			    width: 12.5em;
    			height: 2.4em;
			    position: absolute;
			    background-image: url(../img/arrow-pomo-sticker.png);
			    background-repeat: no-repeat;
			    bottom: 10%;
			    left: 85%;
				background-size: contain;
				@media (max-width: 991px) {
					width: 8.5em;
				}
				@media (max-width: 767px) {
					width: 5em;
				}
			}
		}
		@media (max-width: 425px) {
			padding-bottom: 5em;
		}
	}
	footer {
		display: flex;
		justify-content: space-between;
		.logo {
			@media (max-width: 425px) {
				position: relative;
			    top: unset;
			}
		}
		p {
			@media (max-width: 425px) {
				margin: 0;
			}
		}
	}
	.social-menu {
		display: flex;
		list-style: none;
		color: #de291b;
		padding-left: 0.5rem;
		@media (max-width: 425px) {
			margin: 0;
		}
		li {
			margin: 0.5rem;
			font-size: 1.6rem;
			&:hover,
			&:focus {
				transform: scale(1.2,1.2);
			}
			@media (max-width: 425px) {
				margin: 0.25rem;
			}
		}
	}